* {
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  min-height: 100vh
}
.color-red{
  color:rgb(219, 100, 100)!important;
}
.confirm-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #4caf50;
  border-radius: 5px;
  color: #ffffff;
  background-color: #4caf50;
  transition: background-color 0.3s;
}

.confirm-button:hover {
  background-color: #45a049;
}

/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 1px solid black;
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
/* AddCategory.css */

.add-category-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Add any additional styling as needed */

.submitBtn {
  background-color: #1a1a1a !important;
  color: white;
  transition: 0.3s;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 4px;
}
.submitBtn:hover {
  background-color: #ccc !important;
  color: black;
}
.label-form {
  font-style: Sans-serif;
  font-weight: 600;
}
.primary-text {
  font-style: Sans-serif;
  font-weight: 400;
}
.primary-title {
  font-style: Sans-serif;
  font-weight: 700;
  font-size: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.drag-image {
  border: 1px dashed black;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
}
.drag-image.active {
  border: 2px solid black;
}
.drag-image .icon {
  font-size: 30px;
  color: black;
}
.drag-image h6 {
  font-size: 20px;
  font-weight: 300;
  color: black;
}
.drag-image span {
  font-size: 14px;
  font-weight: 300;
  color: black;
  margin: 10px 0 15px 0;
}
.drag-image button {
  padding: 5px 14px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.drag-image button:hover {
  background-color: black;
  color: white;
}

.drag-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.loading-container {
  display: flex;
  justify-content: center;
}

.loading-skeleton {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 300px; /* You can adjust the width as needed */
  padding: 20px;
}

.movie-item {
  display: flex;
  flex-direction: column;
}

.movie-category {
  height: 20px;
  width: 80px;
  margin-bottom: 10px;
}

.over-image {
  position: relative;
  margin-bottom: 10px;
}

.skeleton.movie-poster {
  height: 200px; /* Adjust as per your image aspect ratio */
  width: 100%;
  border-radius: 8px;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.skeleton.movie-name {
  height: 20px;
  width: 80%;
  margin-bottom: 10px;
}

.skeleton.movie-category {
  height: 15px;
  width: 50%;
  margin-bottom: 5px;
}
/* Container của progress bar */
.progress {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 10px;
}

/* Thanh tiến trình */
.progress-bar {
  height: 100%;
  border-radius: 10px;
  background-color: #007bff;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

tr > td {
  color: black;
}
